*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: "https://img.rawpixel.com/private/static/images/website/2022-05/px1594884-image-kwvxry3h.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=a3178c34f07eaa58879f9e3fdcd4beb2" !important ;
}